<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=Cp1252" />
<script src="../dbdoc.js" type="text/javascript"></script>
<link href="../dbdoc.css" type="text/css" rel="stylesheet">
</head>
<body id="bottom_left">
<h2>Vistas
<div id="search"><input type="text" onkeyup="$d_Find('narrow',this.value,'a')"/></div></h2><div id="narrow"><a href ="VISTAACCESORIOS.html" target="ObjectDetailsFrame">VISTAACCESORIOS</a>
<a href ="VISTACATEGORIAS.html" target="ObjectDetailsFrame">VISTACATEGORIAS</a>
<a href ="VISTACLIENTES.html" target="ObjectDetailsFrame">VISTACLIENTES</a>
<a href ="VISTADETALLESDEDIDO.html" target="ObjectDetailsFrame">VISTADETALLESDEDIDO</a>
<a href ="VISTADEVOLUCIONES.html" target="ObjectDetailsFrame">VISTADEVOLUCIONES</a>
<a href ="VISTAEMPLEADOS.html" target="ObjectDetailsFrame">VISTAEMPLEADOS</a>
<a href ="VISTAPEDIDOS.html" target="ObjectDetailsFrame">VISTAPEDIDOS</a>
<a href ="VISTAPRODUCTOS.html" target="ObjectDetailsFrame">VISTAPRODUCTOS</a>
<a href ="VISTASUCURSALES.html" target="ObjectDetailsFrame">VISTASUCURSALES</a>
<a href ="VISTAUSUARIOS.html" target="ObjectDetailsFrame">VISTAUSUARIOS</a>
<a href ="VISTAVENTAS.html" target="ObjectDetailsFrame">VISTAVENTAS</a>

</div></body> </html>